doctype html
html(lang="en" data-ng-app='harrogate')
  head
    title= pageTitle
    link(href='/shared/public/css/bootstrap.min.css', rel='stylesheet')
    link(href='/shared/public/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/shared/public/css/font-awesome.min.css', rel='stylesheet')
    
    // Quick and dirty way to get the app catalog to the client
    script(type='text/javascript').
      var app_catalog = !{app_catalog_str}
    
    script(src='/shared/public/js/lib/jquery-2.1.3.min.js')
    script(src='/shared/public/js/lib/bootstrap.min.js')
    script(src='/shared/public/js/lib/angular/angular.min.js')
    script(src='/shared/public/js/lib/angular/angular-route.min.js')
    script(src='/shared/public/js/index.coffee')
    meta(name='viewport', content=['width=device-width', 'initial-scale=1', 'maximum-scale=1', 'user-scalable=no'])
  body
    nav(class=['navbar', 'navbar-default'], style='margin-bottom: 0px')
      div(class='container-fluid')
        div(class='navbar-header')
          button(type='button', class=['navbar-toggle', 'collapsed'], data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand', href='#')
            i(class=['fa', 'fa-rocket'])
        
        div#bs-example-navbar-collapse-1(class=['collapse', 'navbar-collapse'])
          p(class=['navbar-text', 'navbar-right']) Battery: 83%
    ol(class='breadcrumb')
      li
        a(href='#') Home
      li
        a(href='#') Library
      li(href='#', class='active') Data

      // App view container
      div(data-ng-view='')

      // Footer
      div(class='container-fluid')
        hr(class='featurette-divider')
        footer
          p(class='pull-right')
            a(href='#') Back to top
          p Copyright &copy; 2015 KISS Insitute for Practical Robotics