doctype html
html(lang="en")
  head
    title= pageTitle
    script(src='/extern/require.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/ace.js')
    script(src='')
    script(src='/apps/kiss/client.coffee')
  body
    p Hello World