doctype html
html(lang="en" data-ng-app='harrogateIndexApp')
  head
    title= pageTitle
    include styles.jade

    include scripts.jade
    script(src='/shared/client/scripts/lib/angular/angular.min.js')
    script(src='/shared/client/scripts/lib/angular/angular-route.min.js')
    script(src='/shared/client/scripts/harrogate-index-app.coffee')

    // Quick and dirty way to get the app catalog to the client
    script(type='text/javascript').
      var app_catalog = !{app_catalog_str}

  body
    include navbar.jade

    // App view container
    div(data-ng-view='')

    include footer.jade