doctype html
html(lang="en" data-ng-app='harrogateIndexApp')
  head
    title= pageTitle
    include styles.jade

    include scripts.jade
    script(src='/shared/client/scripts/lib/angular/angular.min.js')
    script(src='/shared/client/scripts/lib/angular/angular-route.min.js')
    script(src='/shared/client/scripts/harrogate-index-app.coffee')

    // Load the app catalog
    script(type='text/javascript').
      var app_catalog = undefined; function app_catalog_jsonp_callback(data){app_catalog = data; console.log(app_catalog);}
    script(src='/json/app-catalog.js?callback=app_catalog_jsonp_callback')
  body
    include navbar.jade

    // App view container
    div(data-ng-view='')

    include footer.jade