script(src='/shared/client/js/lib/jquery-2.1.3.min.js')
script(src='/shared/client/js/lib/bootstrap.min.js')
meta(name='viewport', content=['width=device-width', 'initial-scale=1', 'maximum-scale=1', 'user-scalable=no'])