doctype html
html(lang="en")
  head
    title= pageTitle
    script(src='/extern/require.js')
    link(href='/apps/home/css/bootstrap.min.css', rel='stylesheet')
    link(href='/apps/home/css/style.css', rel='stylesheet')
    link(href='/apps/home/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/apps/home/css/font-awesome.min.css', rel='stylesheet')
  body
    include ../home/topbar.jade
    div(class='container')
      div(class=['embed-responsive', 'embed-responsive-16by9'])
        img#camera(class='embed-responsive-item')
      include ../home/footer.jade
    script(src='/apps/home/js/jquery-2.1.3.min.js')
    script(src='/apps/home/js/bootstrap.min.js')
    script(src='/apps/camera/client.coffee')