extends ../../../shared/client/views/templates/app-view-layout.jade

block view-content
  .container
    .row
      .panel.panel-default
        .panel-heading
          .panel-title
            | Terminal
            |  
            span.btn-group
              button.btn.btn-default(type='button', data-ng-click='refresh()')
                i.fa.fa-refresh

        textarea#terminal.panel-body