extends ../../../shared/client/views/templates/app-view-layout.jade

block view-toolbar-left
  .btn-group
    button.btn.btn-toolbar.btn-success(type='button' ng-click='save_config()')
      i.fa.fa-floppy-o
      br
      small.small Save Configuration

block view-content
  .row.row-stretch
    .col-md-9.col-stretch(ng-class='{"desktop-only": !selected_channel}')
      .row.row-stretch
        .col-xs-5.col-stretch
          .panel.panel-primary.panel-stretch
            .panel-heading
              .panel-title
                | Preview
                
            .panel-body-container-stretch
              img.img-stretch-width.panel-body(ng-src="{{img_src}}")

        .col-xs-7.col-stretch
          .row.row-stretch-50-desktop-only(ng-class='{"desktop-only": !show_visual}')
            .col.col-stretch
              .panel.panel-primary.panel-stretch
                .panel-heading
                  .panel-title
                    | Visual Configuration
                        
                .panel-body-container-stretch
                  canvas#color-picker

          .row.row-stretch-50-desktop-only(ng-class='{"desktop-only": show_visual}')
            .col.col-stretch
              .panel.panel-primary.panel-stretch
                .panel-heading
                  .panel-title
                    | Manual Configuration

                .scrollable-panel-body-container
                  .panel-body
                    .row
                      .col-xs-6
                        .form
                          .form-group
                            label Hue
                            input.form-control(type='number' ng-model='channel.hue.from')

                            label Saturation
                            input.form-control(type='number' ng-model='channel.saturation.from')

                            label Value
                            input.form-control(type='number' ng-model='channel.value.from')
                      .col-xs-6
                        .form
                          .form-group
                            label to
                            input.form-control(type='number'  ng-model='channel.hue.to')

                            label to
                            input.form-control(type='test' ng-model='channel.saturation.to')

                            label to
                            input.form-control(type='text' ng-model='channel.value.to')

    .col-md-3.col-stretch(ng-class='{"desktop-only": selected_channel}')
      .panel.panel-primary.panel-stretch
        .panel-heading
          .panel-title
            | Configurations

        .scrollable-panel-body-container
          table.panel-body.table.tree-table
            tbody
              //tr.cursor-pointer
              // td(colspan='2')
              //  i.fa.fa-plus
              //  |  
              //  | Add configuration
                
              tr.cursor-pointer.info
                th(colspan="2")
                  | Configuration_1

              //tr.cursor-pointer
              //   td
              //   td
              //    i.fa.fa-plus
              //    |  
              //    | Add Channel

              tr.cursor-pointer.info(ng-click='selected_channel = true')
                td
                td
                  i.fa.eyedropper
                  |  
                  | Channel_I

              // tr.cursor-pointer(ng-click='selected_channel = true')
              //   td
              //   td
              //     i.fa.eyedropper
              //     |  
              //     | Channel II

block bottom-compact-navbar-buttons
  a.btn.btn-toolbar.btn-info(type='button', ng-click='selected_channel = false')
    i.fa.fa-folder-open-o
    |  
    small.small Open
  a.btn.btn-toolbar.btn-info(type='button' ng-click='save_config()')
    i.fa.fa-floppy-o
    |  
    small.small Save
  a.btn.btn-toolbar.btn-info(type='button' ng-class='{"btn-primary": show_visual}' ng-click='show_visual = true')
    i.fa.fa-object-group
    |  
    small.small Visual
  a.btn.btn-toolbar.btn-info(type='button' ng-class='{"btn-primary": !show_visual}' ng-click='show_visual = false')
    i.fa.fa-sliders
    |  
    small.small Manual
