extends ../../../shared/client/views/templates/app-view-layout.jade

block view-toolbar-left
  .btn-group
     button.btn.btn-danger.btn-toolbar(type='button' ng-class='{disabled: !selected_script.name || updating}' ng-click='update(selected_script.name)')
        i.fa.fa-download
        br
        small.small Update {{selected_script.name}}

block view-content
  .row.row-stretch-40
    .col-xs-12.col-stretch
      .panel.panel-primary.panel-stretch
        .panel-heading
          .panel-title
            | Select Source {{selected_script.name}}
        .scrollable-panel-body-container
          .list-group.panel-body
            a.list-group-item(ng-repeat='script in scripts' ng-class='{active: selected_script.name == script}' ng-click='selected_script.name = script')
              | {{script}}

  .row.row-stretch-60
    .col-xs-12.col-stretch
      .panel.panel-primary.panel-stretch
        .panel-heading
          .panel-title
            | Log
        .scrollable-panel-body-container
          terminal.terminal-stretch(output-event="update-output")

block bottom-compact-navbar-buttons
  a.btn.btn-toolbar.btn-danger(type='button' ng-class='{disabled: !selected_script.name || updating}' ng-click='update(selected_script.name)')
    i.fa.fa-download
    |  
    small.small Update {{selected_script.name}}
