@charset "UTF-8";

.CodeMirror
{
    border: 1px solid #eee;
    height: auto;
}

.toolbar
{
    padding-bottom: 5px;
}

.navbar-form
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.chartist-container
{
    height: calc(100% - 43.333px);
}

/* Stretches a xxx bootstrap container over the full height */
.row-stretch, .col-stretch, .panel-stretch, .tabset-stretch
{
    height: 100%;
}

.row-stretch-60
{
    height: 60%;
    padding-top: 5px;
}

.row-stretch-40
{
    height: 40%;
    padding-top: 5px;
}

.row-stretch-50
{
    height: 50%;
    padding-top: 5px;
}

@media (min-width: 1024px)
{
    .row-stretch-50-desktop-only
    {
        height: 50%;
        padding-top: 5px;
    }
}

@media (max-width: 1023px)
{
    .row-stretch-50-desktop-only
    {
        height: 100%;
    }
}

.panel-stretch
{
    margin-bottom: -20px;
}

.table tbody>tr>td
{
    vertical-align: middle;
}

.img-stretch
{
    display: block;
    width: 100% !important;
    height: 100% !important;

    padding: 0px;
}

.img-stretch-height
{
    display: block;
    width: auto !important;
    height: 100% !important;

    padding: 0px;
}

.img-stretch-width
{
    display: block;
    width: 100% !important;
    height: auto !important;

    padding: 0px;
}

@media (min-width: 1024px)
{
    .panel-stretch > .scrollable-panel-body-container
    {
        max-height: calc(100% - 43.333px);
        overflow: auto;
    }

    .panel-stretch > .panel-body-container-stretch
    {
        height: calc(100% - 43.333px);
        overflow: auto;
    }
}

@media (max-width: 1023px)
{
    .panel-stretch > .scrollable-panel-body-container
    {
        max-height: calc(100% - 27px);
        overflow: auto;
    }

    .panel-stretch > .panel-body-container-stretch
    {
        height: calc(100% - 27px);
        overflow: auto;
    }

    .panel-body
    {
        padding: 2px;
    }
    
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th 
    {
        padding: 7px;
    }
}

.tabset-stretch > .tab-content
{
    height: calc(100% - 40px);

    overflow: auto;
}

.tabset-stretch > .tab-content > .tab-pane
{
    height: 100%;
}

.terminal-stretch > .CodeMirror
{
    height: 100%;
}

.btn-toolbar
{
    min-width: 60px;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
}

.cursor-pointer
{
    cursor: pointer;
}

.tree-table th:not(:last-child), .tree-table td:not(:last-child)
{
    white-space: nowrap;
}

.tree-table span.btn-group-xs.pull-right
{
    padding-left: 8px;
}

.tree-table th, .tree-table td
{
    border: none !important;
}

.tree-table th:last-child, .tree-table td:last-child
{
    width: 99%;
}

.panel-title .pull-right button
{
    margin-left: 4px;
}

#status-bar
{
    height: 30px;
    min-height: 30px;
}

#status-bar .navbar-text
{
    margin-top: 4px;
    margin-bottom: 5px;
}

#status-bar .navbar-form
{
    margin-top: 3px;
    margin-bottom: 4px;
}

#view-container
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#graphics_window
{
    width: auto;
    height: auto;
}

@media (min-width: 1024px)
{
    .compact-only
    {
        display: none;
    }

    #view-content-container
    {
        position: absolute;
        top: 70px;
        bottom: 40px;
        right: 0;
        left: 0;
        
        overflow: auto;
    }
}

@media (max-width: 1023px)
{
    .desktop-only
    {
        display: none;
    }
    
    #view-content-container
    {
        position: absolute;
        top: 30px;
        bottom: 30px;
        right: 0;
        left: 0;
        padding: 0;
        margin: 0;
        
        overflow: auto;
    }

    #view-content-container .row-stretch, #view-content-container .row-stretch-40, #view-content-container .row-stretch-60
    {
        margin-left: 0;
        margin-right: 0;
    }

    #view-content-container .row-stretch .col-stretch, #view-content-container .row-stretch-40 .col-stretch, #view-content-container .row-stretch-60 .col-stretch
    {
        padding-left: 0;
        padding-right: 0;
    }

    #top-compact-navbar
    {
        position: fixed;
        left: 0px;
        top: 0px;
        height: 30px;
        z-index: 100;
    }

    #bottom-compact-navbar
    {
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: 30px;
        z-index: 100;
    }

    nav .btn-toolbar
    {
        height: inherit;
    }

    nav .btn
    {
        padding: 0px;
    }

    .panel-heading
    {
        padding: 2px;
    }

    form .form-group
    {
        margin-bottom: 5px;
    }
}

.slider
{
    margin: 15px;
}

.slider .rs-handle
{
    background-color: transparent;
    border: 8px solid transparent;
    border-right-color: black;
    margin: -6px 0px 0px 14px !important;
    border-width: 6px 52px 6px 4px;
}

.slider .rs-handle:before
{
    display: block;
    content: " ";
    position: absolute;
    height: 22px;
    width: 22px;
    background: black;
    right: -11px;
    bottom: -11px;
    border-radius: 50px;
}

.slider .rs-range-color
{
    background-color: #337ab7;
}

.slider .rs-path-color
{
    background-color: #d9edf7;
}

.slider .rs-tooltip
{
    top: 75%;
    font-size: 11px;
}

.slider .rs-tooltip div
{
    text-align: center;
    background: orange;
    color: black;
    border-radius: 4px;
    padding: 1px 5px 2px;
    margin-top: 4px;
}

.btn-group-vertical > button
{
    margin-bottom: 2px;
}


@media (max-width: 1023px)
{
    .settings-btn-group-justified
    {
        margin: 3px 0px 3px 0px;
    }
}

.panel-body-container-stretch > .btn-group
{
    height: 20px;
}

.panel-body-container-stretch > .scrollable-panel-button-container
{
    height: calc(100% - 66.66px);
    overflow: auto;
}

.panel-body-container-stretch > .btn-group
{
    height: 20px;
}


/* Chartist */

.ct-line
{
  stroke-width: 2px;
}

#user-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

#user-select-title {
    flex-grow: 3;
}

#user-select-container > i {
  margin-left: 0.5em;
  color: black;
}

.disabled {
  color: #aaa;
}

#user-select {
  flex-grow: 1;
}

.or-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.or-container > hr {
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.or {
  font-style: italic;
  text-transform: lowercase;
  margin-left: 1em;
  margin-right: 1em;
}

#file-upload {
  margin-top: 15px;
}
