@charset "UTF-8";

#view-container
{
    padding-top: 70px;
    padding-bottom: 40px;
}

.toolbar
{
    padding-bottom: 5px;
}

.navbar-form
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-toolbar
{
    min-width: 60px;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
}

.tree-table th:not(:last-child), .tree-table td:not(:last-child)
{
    white-space: nowrap;
}

.tree-table th:last-child, .tree-table td:last-child
{
    width: 99%;
    padding-left: 0px;
}

#status-bar
{
    height: 30px;
    min-height: 30px;
}

#status-bar .navbar-text
{
    margin-top: 4px;
    margin-bottom: 5px;
}

#status-bar .navbar-form
{
    margin-top: 3px;
    margin-bottom: 4px;
}