@charset "UTF-8";

.toolbar
{
    padding-bottom: 5px;
}

.navbar-form
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-toolbar
{
    min-width: 60px;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
}

.tree-table th:not(:last-child), .tree-table td:not(:last-child)
{
    white-space: nowrap;
}

.tree-table th:last-child, .tree-table td:last-child
{
    width: 99%;
    padding-left: 0px;
}

#status-bar
{
    height: 30px;
    min-height: 30px;
}

#status-bar .navbar-text
{
    margin-top: 4px;
    margin-bottom: 5px;
}

#status-bar .navbar-form
{
    margin-top: 3px;
    margin-bottom: 4px;
}

@media (min-width: 1024px)
{
    .compact-only
    {
        display: none;
    }

    #view-container
    {
        padding-top: 70px;
        padding-bottom: 40px;
    }
}

@media (max-width: 1023px)
{
    .desktop-only
    {
        display: none;
    }
    
    #view-container
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #top-compact-navbar
    {
        position: fixed;
        left: 0px;
        top: 0px;
        height: 30px;
        z-index: 100;
    }

    #bottom-compact-navbar
    {
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: 30px;
        z-index: 100;
    }

    nav .btn-toolbar
    {
        height: inherit;
    }

    nav .btn
    {
        padding: 0px;
    }
}
