// Navbar
nav.navbar.navbar-default.navbar-fixed-top.desktop-only
  .container-fluid
    form.navbar-form.navbar-left
      .form-group
        .btn-toolbar(role='toolbar')
          .btn-group
            a.btn.btn-toolbar.btn-info(type="button" href='/#/apps/home')
              i.fa.fa-bars
              br
              small.small Menu

          block view-toolbar-left

    form.navbar-form.navbar-right
      .form-group
        .btn-toolbar(role='toolbar')
          block view-toolbar-right

          .btn-group
            a.btn.btn-toolbar.btn-info.disabled(type="button")
              i.fa.fa-exclamation-circle
              br
              small.small About
            a.btn.btn-toolbar.btn-info.disabled(type="button")
              i.fa.fa-question-circle
              br
              small.small Help

nav.btn-group.btn-group-justified.compact-only#top-compact-navbar
  a.btn.btn-toolbar.btn-info(type="button" href='/#/apps/home')
    i.fa.fa-bars
    |  
    small.small Menu
  a.btn.btn-toolbar.btn-info.disabled(type="button")
    i.fa.fa-exclamation-circle
    |  
    small.small About
  a.btn.btn-toolbar.btn-info.disabled(type="button")
    i.fa.fa-question-circle
    |  
    small.small Help

// content
.container-fluid
  block view-content

// footer = status bar
nav.navbar.navbar-default.navbar-fixed-bottom.desktop-only#status-bar(ng-controller='statusBarCtrl')
  .container-fluid
    form.navbar-form.navbar-left
      .form-group.btn-group-xs
        label.small User:
        |  
        a.btn.btn-xs(type="button" href='/#/apps/user' data-ng-class="{'btn-success' : current_user, 'btn-warning' : !current_user}")
          i.fa.fa-user(data-ng-show="current_user")
          i.fa.fa-user-times(data-ng-show="!current_user")
          |  
          |  {{current_user ? current_user.login : ""}}

    p.navbar-text.navbar-right
      small.small
        | Copyright &copy; 2015
        |  
        a(href='http://www.kipr.org/') KISS Insitute for Practical Robotics

nav.btn-group.btn-group-justified.compact-only#bottom-compact-navbar
  block bottom-compact-navbar-buttons