// Navbar
nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    form.navbar-form.navbar-left
      .form-group
        .btn-toolbar(role='toolbar')
          .btn-group
            a.btn.btn-toolbar.btn-info(type="button" href='/#/apps/home')
              i.fa.fa-bars
              br
              small.small Menu

          block view-toolbar-left

    form.navbar-form.navbar-right
      .form-group
        .btn-toolbar(role='toolbar')
          block view-toolbar-right

          .btn-group
            a.btn.btn-toolbar.btn-info.disabled(type="button")
              i.fa.fa-exclamation-circle
              br
              small.small About
            a.btn.btn-toolbar.btn-info.disabled(type="button")
              i.fa.fa-question-circle
              br
              small.small Help

// content
.container-fluid
  block view-content

// footer = status bar
.container-fluid
  hr.featurette-divider
  footer
    p Copyright &copy; 2015 KISS Insitute for Practical Robotics