.modal-header
  button.close(type='button' ng-click='dismiss()') &times;
  h4.modal-title {{title}}

.modal-body
  p Create a New File:
  .form-horizontal
    .form-group
      .col-xs-8
        input.form-control(type='text' ng-model='data.filename' ng-attr-placeholder='{{placeholder}}')
      .col-xs-4(ng-if='extensions')
        select.form-control(ng-model='data.extension')
          option(ng-repeat='extension in extensions' ng-attr-value='{{extension}}') {{extension}}
  .or-container
    hr
    .or OR
    hr
  p Upload an Existing File:
  .form-horizontal
    #file-upload.form-group
      .col-xs-12
        input.form-control(type='file' fileread='data.upload' accept='{{extensions.join()}}')

.modal-footer
  button.btn.btn-primary(type='button' ng-click='click()' ng-class='{disabled: (!data.filename && !data.upload) || (data.filename && data.upload)}') {{button_caption}}
  button.btn.btn-default(type='button' ng-click='dismiss()') Cancel