doctype html
html(lang="en" data-ng-app='harrogateIndexApp')
  head
    title= pageTitle
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/codemirror.css', rel='stylesheet')
    link(href='/css/codemirror-theme/eclipse.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

    script(src='/scripts/jquery.min.js')
    script(src='/scripts/bootstrap.min.js')
    meta(name='viewport', content=['width=device-width', 'initial-scale=1', 'maximum-scale=1', 'user-scalable=no'])

    script(type='text/javascript').
      var app_catalog = undefined; function app_catalog_jsonp_callback(data){app_catalog = data;}
    script(src='/apps/catalog.json?callback=app_catalog_jsonp_callback')

    script(src='/scripts/harrogate-index-app.js')
    script(src='/scripts/ui-bootstrap-tpls.min.js')

  body
    // App view container
    #view-container(data-ng-view='')