extends ../../../shared/client/views/templates/app-view-layout.jade

block view-content
  .col.col-stretch
    .row.row-stretch-40
      .col-xs-12.col-stretch
        .panel.panel-primary.panel-stretch
          .panel-heading
            .panel-title
              | Motors
          .scrollable-panel-body-container
            .panel-body
              .row.row-stretch
                .col-xs-6.col-stretch
                  table.table
                    thead
                      tr
                        th Name
                        th Speed
                        th Power
                        th Position
                        th
                    tbody
                      tr(ng-repeat='motor in motors' ng-class='{info: motor == selected_motor}' ng-click='select_motor(motor)' ng-if='$even')
                        td {{motor.name}}
                        td {{motor.speed}}
                        td {{motor.power}}
                        td {{motor.position}}
                        td
                          button.btn.btn-danger.btn-xs(ng-click='stop_motor(motor)')
                            small
                              i.fa.fa-stop
                                
                .col-xs-6.col-stretch
                  table.table
                    thead
                      tr
                        th Name
                        th Speed
                        th Power
                        th Position
                        th
                    tbody
                      tr(ng-repeat='motor in motors' ng-class='{info: motor == selected_motor}' ng-click='select_motor(motor)' ng-if='$odd')
                        td {{motor.name}}
                        td {{motor.speed}}
                        td {{motor.power}}
                        td {{motor.position}}
                        td
                          button.btn.btn-danger.btn-xs(ng-click='stop_motor(motor)')
                            small
                              i.fa.fa-stop

    .row.row-stretch-60
      .col-md-3.col-stretch
        .panel.panel-primary.panel-stretch
          .panel-heading
            .panel-title
              | Speed of {{selected_motor.name}}

          .panel.panel-body
            #speed-slider.slider

      .col-md-3.col-stretch
        .panel.panel-primary.panel-stretch
          .panel-heading
            .panel-title
              | Power of {{selected_motor.name}}

          .panel.panel-body
            #power-slider.slider

      .col-md-6.col-stretch
        .panel.panel-primary.panel-stretch
          .panel-heading
            .panel-title
              | Set Goal Position of {{selected_motor.name}}

          .panel.panel-body
            form
              .form-group
                label
                  input(type='radio' name='input_type' value='speed_input')
                  | Speed
                  |  
                  |  
                  input(type='radio' name='input_type' value='power_input')
                  | Power
                input.form-control(type='number')
                
              .form-group
                label Goal Position
                .input-group
                  .input-group-btn
                    button.btn.btn-default()
                      i.fa.fa-rotate-left
                    button.btn.btn-default()
                      i.fa.fa-rotate-right
                  input.form-control(type='text')
                  
              .form-group
                button.btn.btn-success()
                  | GO
                  |  
                  i.fa.fa-play