extends ../../../shared/client/views/templates/app-view-layout.jade

block view-content
  .row.row-stretch-50-desktop-only
    .col-md-6.col-stretch(ng-repeat='motor in motors' ng-class='{"desktop-only": motor != selected_motor}')
      .panel.panel-primary.panel-stretch
        .panel-heading
          .panel-title
            | {{motor.name}} &nbsp; - &nbsp; 
            small Speed {{motor.speed}} &nbsp; Power {{motor.power}} &nbsp; Position {{motor.position}}
        .panel-body-container-stretch.panel-body
          .row.row-stretch
            .col-xs-4.col-stretch
              .btn-group-vertical(role='group')
                button.btn.btn-default.btn(ng-class='{"btn-default": selected_action != "speed", "btn-primary": motor.action == "speed"}' ng-click='motor.action = "speed"')
                  small
                    i.fa.fa-tachometer
                    |  
                    | Set Speed 
                button.btn.btn-default.btn(ng-class='{"btn-default": selected_action != "power", "btn-primary": motor.action == "power"}' ng-click='motor.action = "power"')
                  small
                    i.fa.fa-flash
                    |  
                    | Set Power 
                button.btn.btn-danger.btn(ng-click='clear_position(motor)')
                  small
                    i.fa.fa-close
                    |  
                    | Clear Position Counter 
                button.btn.btn-danger.btn(ng-click='stop_motor(motor)')
                  small
                    i.fa.fa-stop
                    |  
                    | Stop 

            .col-xs-1.col-stretch

            .col-xs-6.col-stretch(ng-show='motor.action == "speed"')
              round-slider(min-value='-1000' max-value='1000' value='motor.speed' on-click='on_power_slider_click(motor)')

            .col-xs-6.col-stretch(ng-show='motor.action == "power"')
              round-slider(min-value='-100' max-value='100' value='motor.power' on-click='on_speed_slider_click(motor)')


block bottom-compact-navbar-buttons
  a.btn.btn-toolbar.btn-info(type='button' ng-repeat='motor in motors' ng-click='select_motor(motor)')
    i.fa.fa-car
    |  
    small.small {{motor.name}}