nav(class=['navbar', 'navbar-default'], style='margin-bottom: 0px')
  div(class='container-fluid')
    div(class='navbar-header')
      button(type='button', class=['navbar-toggle', 'collapsed'], data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span(class='sr-only') Toggle navigation
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a(class='navbar-brand', href='#') Launchpad
    div#bs-example-navbar-collapse-1(class=['collapse', 'navbar-collapse'])
      ul(class=['nav', 'navbar-nav'])
      form(class=['navbar-form', 'navbar-right'],  role='search')
        div(class=['form-group'], role='search')
          input(type='text', class='form-control', placeholder='Search')
        button(type='submit', class=['btn', 'btn-default']) Submit
ol(class='breadcrumb')
  li
    a(href='#') Home
  li
    a(href='#') Library
  li(href='#', class='active') Data
        