nav(class=['navbar', 'navbar-default'], style='margin-bottom: 0px')
  div(class='container-fluid')
    div(class='navbar-header')
      button(type='button', class=['navbar-toggle', 'collapsed'], data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span(class='sr-only') Toggle navigation
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a(class='navbar-brand', href='#')
        i(class=['fa', 'fa-rocket'])
        
    div#bs-example-navbar-collapse-1(class=['collapse', 'navbar-collapse'])
      p(class=['navbar-text', 'navbar-right']) Battery: 83%
ol(class='breadcrumb')
  li
    a(href='#') Home
  li
    a(href='#') Library
  li(href='#', class='active') Data
        