.modal-header
  button.close(type='button' data-dismiss='modal') &times;
  h4.modal-title You have unsaved changes

.modal-body
  p You have unsaved changes. Do you want to save your changes?

.modal-footer
  button.btn.btn-primary(data-ng-click='save()') Save
  button.btn.btn-default(data-ng-click='discard()') Discard
  button.btn.btn-default(data-ng-click='cancel()') Cancel