extends ../../../shared/client/views/templates/app-view-layout.jade

block view-toolbar-left
  .btn-group(ng-if='displayed_file && !display_file_menu')
    button.btn.btn-toolbar(type='button' ng-class="{'btn-success' : !documentChanged, 'btn-danger' : documentChanged, 'disabled': is_compiling}" ng-click='save()')
      i.fa.fa-floppy-o
      br
      small.small Save {{displayed_file.name}}

  .btn-group(ng-if='displayed_file')
    button.btn.btn-toolbar.btn-default(ng-if='!display_file_menu' type='button' ng-click='open_file_menu()')
      i.fa.fa-file
      br
      small.small File Menu
    button.btn.btn-toolbar.btn-default(type='button' ng-click='close_file()')
      i.fa.fa-archive
      br
      small.small Project Menu

  .btn-group(ng-if='displayed_file && display_file_menu')
    button.btn.btn-toolbar.btn-default(type='button' ng-click='close_file_menu()')
      i.fa.fa-file-code-o
      br
      small.small Edit {{displayed_file.name}}

  .btn-group(ng-if='displayed_file && !display_file_menu')
    button.btn.btn-toolbar.btn-default(type='button' ng-click='undo()')
      i.fa.fa-undo
      br
      small.small Undo
    button.btn.btn-toolbar.btn-default(type='button' ng-click='redo()')
      i.fa.fa-repeat
      br
      small.small Redo

  .btn-group(ng-if='displayed_file && !display_file_menu')
    button.btn.btn-toolbar.btn-default(type='button' ng-click='indent()')
      i.fa.fa-indent
      br
      small.small Indent

  .btn-group(ng-if='selected_project')
    button.btn.btn-toolbar.btn-default(type='button' ng-click='compile()' ng-class='{disabled: is_compiling, "btn-danger": is_compiling}')
      i.fa.fa-link
      br
      small.small Compile {{selected_project.name}}
    a.btn.btn-toolbar.btn-default(type='button' href='/#/apps/runner?project={{selected_project.name|escape}}' ng-class='{disabled: is_compiling}')
      i.fa.fa-rocket
      br
      small.small Goto Runner

  .btn-group(ng-if='!selected_project')
    a.btn.btn-toolbar.btn-default(type='button' href='/#/apps/runner' ng-class'{disabled: is_compiling}')
      i.fa.fa-rocket
      br
      small.small Goto Runner

block view-content
  .row.row-stretch
    .col-md-9.col-stretch(ng-class='{"desktop-only": !selected_project}')
      .row(ng-class="{'row-stretch-60' : compiler_output, 'row-stretch' : !compiler_output}")
        .col-xs-12.col-stretch

          //- Project menu
          .panel.panel-primary.panel-stretch(ng-show="!displayed_file && selected_project")
            .panel-heading
              .panel-title
                | Project: {{project_resource.name}}
                span.btn-group-xs.pull-right
                  button.btn.btn-default(type='button' ng-click='reload_file(displayed_file)')
                    i.fa.fa-refresh
                  button.btn.btn-danger(type='button' ng-click='close_project()')
                    i.fa.fa-times
            .panel-body
              h4 Project Operations
              .btn-group
                button.btn.btn-toolbar.btn-danger(type='button' ng-click='delete_project(selected_project)')
                  i.fa.fa-trash
                  br
                  small.small Delete {{selected_project.name}}

              .btn-group
                button.btn.btn-toolbar.btn-default(type='button' ng-click='download_project(selected_project)')
                  i.fa.fa-download
                  br
                  small.small Download {{selected_project.name}}

              h4 Project Information
              p Name: {{project_resource.name}}
              p Language: {{project_resource.parameters.language}}

              h4(ng-if='project_resource.source_files') Source Files
              ul(ng-if='project_resource.source_files')
                li(ng-repeat = 'file in project_resource.source_files') {{file.path}}
              h4(ng-if='project_resource.include_files') Include Files
              ul(ng-if='project_resource.include_files')
                li(ng-repeat = 'file in project_resource.include_files') {{file.path}}
              h4(ng-if='project_resource.data_files') Data Files
              ul(ng-if='project_resource.data_files')
                li(ng-repeat = 'file in project_resource.data_files') {{file.path}}

          //- File menu
          .panel.panel-primary.panel-stretch(ng-show="displayed_file && display_file_menu")
            .panel-heading
              .panel-title
                | File: {{displayed_file ? displayed_file.name : 'Unnamed File'}}
                span.btn-group-xs.pull-right
                  button.btn.btn-danger(type='button' ng-click='close_file_menu()')
                    i.fa.fa-times
            .panel-body
              .btn-group
                button.btn.btn-toolbar.btn-danger(type='button' ng-click='delete_file(displayed_file)')
                  i.fa.fa-trash
                  br
                  small.small Delete {{displayed_file.name}}

              .btn-group
                a.btn.btn-toolbar.btn-default(type='button' ng-href="{{displayed_file.links.self.href}}?mode=raw" download)
                  i.fa.fa-download
                  br
                  small.small Download {{displayed_file.name}}

              h4 File Information
              p Name: {{displayed_file.name}}
              p Path: {{displayed_file.path}}

          //- File content
          .panel.panel-primary.panel-stretch(ng-show="displayed_file && !display_file_menu")
            .panel-heading
              .panel-title
                | File: {{displayed_file ? displayed_file.name : 'Unnamed File'}}
                span.btn-group-xs.pull-right
                  button.btn.btn-default(type='button' ng-click='reload_file(displayed_file)')
                    i.fa.fa-refresh
                  button.btn.btn-danger(type='button' ng-click='close_file()')
                    i.fa.fa-times

            .scrollable-panel-body-container
              textarea#editor.panel-body.terminal-stretch

      .row.row-stretch-40(ng-show='compiler_output')
        .col-xs-12.col-stretch
          .panel.panel-stretch(ng-class='{"panel-success": compilation_state == "Compilation succeeded", "panel-danger": compilation_state == "Compilation Failed", "panel-warning": compilation_state == "Compilation Succeeded with Warnings"}')
            .panel-heading
              .panel-title
                | {{compilation_state}}
                span.btn-group-xs.pull-right
                  button.btn.btn-danger(type='button' ng-click='compiler_output = ""')
                    i.fa.fa-times

            .scrollable-panel-body-container
              pre.panel-body
                code {{compiler_output}}

    .col-md-3.col-stretch(ng-class='{"desktop-only": selected_project}')
      .panel.panel-primary.panel-stretch
        .panel-heading
          .panel-title
            | Project Explorer
            span.btn-group-xs.pull-right
              button.btn.btn-default(type='button' ng-click='reload_project()')
                i.fa.fa-refresh

        .scrollable-panel-body-container
          table.panel-body.table.tree-table
            tbody
              tr.cursor-pointer(ng-click='show_add_project_modal()')
               td(colspan='3')
                i.fa.fa-plus
                |  
                | Add Project

              tr.cursor-pointer(ng-repeat-start = 'project in ws.projects' ng-class='{info: selected_project === project}' ng-click='select_project(project)')
                th(colspan="3")
                  | {{project.name}}

              tr.cursor-pointer(ng-if='selected_project.parameters.language === "C" && selected_project === project' ng-class='{active: selected_file, info: !selected_file}')
                th
                th(colspan="2")
                  | Include Files
              tr.cursor-pointer(ng-if='selected_project.parameters.language === "C" && selected_project === project' ng-repeat = 'file in project_resource.include_files' ng-class='{active: selected_file && selected_file != file, info: !selected_file || selected_file === file}' ng-click='select_file(file, "include")')
                td
                td
                td
                  i.fa.fa-file-o
                  |  
                  | {{file.name}}
              tr.cursor-pointer(ng-if='selected_project.parameters.language === "C" && selected_project === project' ng-class='{active: selected_file, info: !selected_file}' ng-click='show_add_include_file_modal()')
                 td
                 td
                 td
                  i.fa.fa-plus
                  |  
                  | Add File
              tr.cursor-pointer(ng-if='selected_project === project' ng-class='{active: selected_file, info: !selected_file}')
                th
                th(colspan="2")
                  | Source Files
              tr.cursor-pointer(ng-show='selected_project === project' ng-repeat = 'file in project_resource.source_files' ng-class='{active: selected_file && selected_file != file, info: !selected_file || selected_file === file}' ng-click='select_file(file, "src")')
                td
                td
                td
                  i.fa.fa-file-o
                  |  
                  | {{file.name}}
              tr.cursor-pointer(ng-if='selected_project === project' ng-class='{active: selected_file, info: !selected_file}' ng-click='show_add_source_file_modal()')
                 td
                 td
                 td
                  i.fa.fa-plus
                  |  
                  | Add File
              tr.cursor-pointer(ng-if='selected_project === project' ng-class='{active: selected_file, info: !selected_file}')
                th
                th(colspan="2")
                  | User Data Files
              tr.cursor-pointer(ng-if='selected_project === project' ng-repeat = 'file in project_resource.data_files' ng-class='{active: selected_file && selected_file != file, info: !selected_file || selected_file === file}' ng-click='select_file(file, "data")')
                td
                td
                td
                  i.fa.fa-file-o
                  |  
                  | {{file.name}}
              tr.cursor-pointer(ng-repeat-end ng-if='selected_project === project' ng-class='{active: selected_file, info: !selected_file}' ng-click='show_add_data_file_modal()')
                 td
                 td
                 td
                  i.fa.fa-plus
                  |  
                  | Add File

  // Modals
  #new-project.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' ng-click='hide_add_project_modal()') &times;
          h4.modal-title Create New Project

        .modal-body
          .form
            .form-group
              label(for='projectName') Project name
              input#projectName.form-control(type='text' placeholder='Project name')
              label(for='programmingLanguage') Programming Language
              select#programmingLanguage.form-control(placeholder='Programming Language', ng-model="defaultProgrammingLanguage", ng-change="change_filename()")
                option(value='C') C
                option(value='Python') Python
              label(for='sourceFileName') Source file name
              input#sourceFileName.form-control(type='text' value='main.c' disabled='disabled')

        .modal-footer
          button.btn.btn-default(ng-click='hide_add_project_modal()') Cancel
          button.btn.btn-primary(ng-click='add_project()') Create

block bottom-compact-navbar-buttons
  a.btn.btn-toolbar.btn-info(type='button', ng-click='close_project()')
    i.fa.fa-folder-open-o
    |  
    small.small Open
  a.btn.btn-toolbar.btn-info(type='button', ng-class="{'disabled' : !selected_project}", ng-click='compile()')
    i.fa.fa-link
    |  
    small.small Compile
  a.btn.btn-toolbar.btn-info(ng-if='selected_project' type='button' href='/#/apps/runner?project={{selected_project.name|escape}}')
    i.fa.fa-rocket
    |  
    small.small Goto Runner
  a.btn.btn-toolbar.btn-info(ng-if='!selected_project' type='button' href='/#/apps/runner')
    i.fa.fa-rocket
    |  
    small.small Goto Runner
