.container
  .row
    .col-md-3
      .panel.panel-default
        .panel-heading
          .panel-title Projects:
        table.panel-body.table
          tbody
            tr(data-ng-repeat-start = "project in ws.projects" data-ng-class='{active: selected_project === project}' data-ng-click='select_project(project)')
              th(scope="row")
                | {{project.name}}
                |  
                small [{{project.parameters.language}}]
            tr(data-ng-if="selected_project === project" data-ng-repeat-end = "" data-ng-repeat = "file in project_files" data-ng-class='{active: selected_file === file}' data-ng-click='select_file(file)')
              th(scope="row") 
                i.fa.fa-file-o
                |  
                | {{file.name}}
    .col-md-9
      .panel.panel-default
        .panel-heading
          .panel-title
            | {{displayed_file ? displayed_file.name : 'Unnamed File'}}
            |  
            span.btn-group
              button.btn(type='button', data-ng-class="{'btn-default' : !documentChanged, 'btn-danger' : documentChanged}", data-ng-click='save()')
                i.fa.fa-floppy-o
              button.btn.btn-default(type='button', data-ng-click='refresh()')
                i.fa.fa-refresh
              button.btn(type='button', data-ng-class="{'btn-default' : !documentChanged, 'btn-danger' : documentChanged}", data-ng-disabled='!documentChanged', data-ng-click='uploadToCloud()')
                i.fa.fa-cloud
              button.btn(type='button', data-ng-class="{'btn-default' : !documentChanged, 'btn-danger' : documentChanged}", data-ng-disabled='!documentChanged',data-ng-click='downloadFile()')
                i.fa.fa-download
            |  
            span.btn-group
              button.btn.btn-default.disabled(type='button', data-ng-click='cut()')
                i.fa.fa-scissors
              button.btn.btn-default.disabled(type='button', data-ng-click='copy()')
                i.fa.fa-copy
              button.btn.btn-default.disabled(type='button', data-ng-click='paste()')
                i.fa.fa-clipboard
            |  
            span.btn-group
              button.btn.btn-default(type='button', data-ng-click='undo()')
                i.fa.fa-undo
              button.btn.btn-default(type='button', data-ng-click='redo()')
                i.fa.fa-repeat
            |  
            span.btn-group
              button.btn.btn-default(type='button', data-ng-click='compile()')
                i.fa.fa-th
            |  
            span.btn-group
              button.btn.btn-default(type='button', data-ng-click='find()')
                i.fa.fa-binoculars
            |  
            span.btn-group
              button.btn.btn-default(type='button', data-ng-click='zoomIn()')
                i.fa.fa-search-plus
              button.btn.btn-default(type='button', data-ng-click='zoomOut()')
                i.fa.fa-search-minus
            |  
            span.btn-group
              button.btn.btn-default.disabled(type='button', data-toggle='tooltip', data-placement='top', title='Help', data-ng-click='help()')
                i.fa.fa-question-circle

        textarea#editor.panel-body