extends ../../../shared/client/views/templates/app-view-layout.jade

block view-toolbar-left
  .btn-group
    button.btn.btn-toolbar(type='button', data-ng-class="{'btn-default' : !documentChanged, 'btn-danger' : documentChanged}", data-ng-click='save()')
      i.fa.fa-floppy-o
        br
        small.small Save
    button.btn.btn-toolbar.btn-default(type='button', data-ng-click='refresh()')
      i.fa.fa-refresh
        br
        small.small Reload
    button.btn.btn-toolbar.btn-default.disabled(type='button' data-ng-click='uploadToCloud()')
      i.fa.fa-cloud
        br
        small.small Upload to Cloud
    button.btn.btn-toolbar.btn-default.disabled(type='button', data-ng-click='downloadFile()')
      i.fa.fa-download
        br
        small.small Download

  .btn-group
    button.btn.btn-toolbar.btn-default(type='button', data-ng-click='undo()')
      i.fa.fa-undo
        br
        small.small Undo
    button.btn.btn-toolbar.btn-default(type='button', data-ng-click='redo()')
      i.fa.fa-repeat
        br
        small.small Redo

  .btn-group
    button.btn.btn-toolbar(type='button', data-ng-class="{'btn-default' : !documentChanged, 'btn-danger' : documentChanged}", data-ng-click='compile()')
      i.fa.fa-link
        br
        small.small Compile


block view-content
  .row
    .col-xs-3
      .panel.panel-default
        .panel-heading
          .panel-title Projects:
        table.panel-body.table.tree-table
          tbody
            tr(data-ng-repeat-start = "project in ws.projects" data-ng-class='{info: selected_project === project}' data-ng-click='select_project(project)')
              th
                i.fa.fa-chevron-circle-down(data-ng-if="selected_project === project")
                i.fa.fa-chevron-circle-right(data-ng-if="selected_project !== project")
              th(colspan="2")
                | {{project.name}}
                |  
                small [{{project.parameters.language}}]
            tr(data-ng-if="selected_project === project" data-ng-click='toggle_include_files_expanded()')
              th
              th
                i.fa.fa-chevron-circle-down(data-ng-if="include_files_expanded")
                i.fa.fa-chevron-circle-right(data-ng-if="!include_files_expanded")
              th
                | Include Files
            tr(data-ng-if="selected_project === project && include_files_expanded" data-ng-repeat = "file in project_resource.include_files" data-ng-class='{info: selected_file === file}' data-ng-click='select_file(file, "include")')
              td
              td
              td
                i.fa.fa-file-o
                |  
                | {{file.name}}
            tr(data-ng-if="selected_project === project && include_files_expanded" data-ng-click='show_add_include_file_modal()')
               td
               td
               td
                i.fa.fa-plus
                | Add File
            tr(data-ng-if="selected_project === project" data-ng-click='toggle_src_files_expanded()')
              th
              th
                i.fa.fa-chevron-circle-down(data-ng-if="src_files_expanded")
                i.fa.fa-chevron-circle-right(data-ng-if="!src_files_expanded")
              th
                | Source Files
            tr(data-ng-show="selected_project === project && src_files_expanded" data-ng-repeat = "file in project_resource.source_files" data-ng-class='{info: selected_file === file}' data-ng-click='select_file(file, "src")')
              td
              td
                i.fa.fa-chevron-circle-down(data-ng-if="!src_files_expanded")
              td
                i.fa.fa-file-o
                |  
                | {{file.name}}
            tr(data-ng-if="selected_project === project && src_files_expanded" data-ng-click='show_add_source_file_modal()')
               td
               td
               td
                i.fa.fa-plus
                | Add File
            tr(data-ng-if="selected_project === project"  data-ng-click='toggle_data_files_expanded()')
              th
              th
                i.fa.fa-chevron-circle-down(data-ng-if="data_files_expanded")
                i.fa.fa-chevron-circle-right(data-ng-if="!data_files_expanded")
              th
                | User Data Files
            tr(data-ng-if="selected_project === project && data_files_expanded" data-ng-repeat = "file in project_resource.data_files" data-ng-class='{info: selected_file === file}' data-ng-click='select_file(file, "data")')
              td
              td
              td
                i.fa.fa-file-o
                |  
                | {{file.name}}
            tr(data-ng-repeat-end data-ng-if="selected_project === project && data_files_expanded" data-ng-click='show_add_data_file_modal()')
               td
               td
               td
                i.fa.fa-plus
                | Add File

            tr(data-ng-click='show_add_project_modal()')
             td
              i.fa.fa-plus
             td(colspan="2")
              | Add Project

    .col-xs-9
      .panel.panel-default(data-ng-show="displayed_file")
        .panel-heading
          .panel-title
            | {{displayed_file ? displayed_file.name : 'Unnamed File'}}

        textarea#editor.panel-body

    .col-xs-9
      .panel.panel-default(data-ng-show="compiler_output")
        .panel-heading
          .panel-title Compilation Output

        pre.panel-body
          code {{compiler_output}}

  // Modals
  #new-include-file.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal') &times;
          h4.modal-title Create New Include File

        .modal-body
          .form
            .form-group
              label(for='includeFileName') Include file name
              input#includeFileName.form-control(type='text' placeholder='Include file name')
        .modal-footer
          button.btn.btn-default(data-dismiss='modal') Cancel
          button.btn.btn-primary(data-ng-click='add_include_file()') Create

  #new-source-file.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal') &times;
          h4.modal-title Create New Source File

        .modal-body
          .form
            .form-group
              label(for='sourceFileName') Source file name
              input#sourceFileName.form-control(type='text' placeholder='Source file name')
        .modal-footer
          button.btn.btn-default(data-dismiss='modal') Cancel
          button.btn.btn-primary(data-ng-click='add_source_file()') Create

  #new-data-file.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal') &times;
          h4.modal-title Create New User Data File

        .modal-body
          .form
            .form-group
              label(for='dataFileName') User data file name
              input#dataFileName.form-control(type='text' placeholder='User data file name')
        .modal-footer
          button.btn.btn-default(data-dismiss='modal') Cancel
          button.btn.btn-primary(data-ng-click='add_data_file()') Create

  #new-project.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal') &times;
          h4.modal-title Create New Project

        .modal-body
          .form
            .form-group
              label(for='projectName') Project name
              input#projectName.form-control(type='text' placeholder='Project name')
        .modal-footer
          button.btn.btn-default(data-dismiss='modal') Cancel
          button.btn.btn-primary(data-ng-click='add_project()') Create
