doctype html
html(lang="en")
  head
    title= pageTitle
    script(src='/extern/require.js')
    include ../home/styles.jade
  body
    include ../home/topbar.jade
    div(class='container')
      div(class='list-group')
    include ../home/footer.jade
    include ../home/scripts.jade
    script(src='/apps/camera/client.coffee')