extends ../../../shared/client/views/templates/app-view-layout.jade

block view-content
  .container
    .row
      .panel-group
        .panel.panel-default(ng-repeat="(group, setting) in settings")
          .panel-heading
            .h3.panel-title {{group | capitalize}}

          .panel-body
            .form-group(ng-repeat="(name, value) in setting")
              label(ng-attr-for="{{name}}") {{name | capitalize}}
              input.form-control(type='text' readonly ng-attr-id="{{name}}" ng-attr-value="{{value}}")