extends ../../../shared/client/views/templates/app-view-layout.jade

block view-content
  .container
    //include includes/program_list.jade
    
    .homeTitle
      img(src='./KIPR-Logo-white.png' style="width:180px;height:180px;")
      H1 Software Suite
      
    br

    .startColumn 
      H3 Start
      .startOptions   
        .startOptionRows
      
          H4 New File...

