script(src='/scripts/harrogate-navbar-module.js')

nav.navbar.navbar-default(role='navigation', data-ng-controller='HarrogateNavbarCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#harrogate-navbar-collapse')
        i.fa.fa-bars
    #harrogate-navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(data-ng-repeat="(app_name, app_obj) in app_catalog" data-ng-class="{active: $location.path() == app_obj['angularjs_route']}")
          a(data-ng-href="{{app_obj['url']}}")
            i.fa.fa-fw.fa-2x(data-ng-class="app_obj['fonticon']")
