extends ../../../shared/client/views/templates/app-view-layout.jade

block view-content
  .row(data-ng-show="current_user")
    .col-xs-4
      .row
        .col-xs-3
        .col-xs-2
            i.fa.fa-5x.fa-user
        .col-xs-5
            h1 {{current_user.login}}
      .row
        .col-xs-5
        .col-xs-5
          button.btn.btn-default.bnt-lg(type='button' data-ng-click='logout()')
            i.fa.fa-sign-out
            |  
            | Logout {{current_user.login}}

    .col-xs-8
      h2  User Preferences
      .panel.panel-default
        .panel-body
          .panel-group
            .panel.panel-default
              .panel-heading
                .h3.panel-title Workspace

              .panel-body
                .form-group
                  label Path
                  input.form-control(type='text' readonly data-ng-attr-id="path" value="{{current_user.preferences.workspace.path}}")

  .row(data-ng-show="!current_user")
    .col-xs-3
    .col-xs-6
      .alert.alert-warning
        p
          strong Login required!
        p Please authenticate yourself with your username and password

  .row(data-ng-show="!current_user")
    .col-xs-3
    .col-xs-6
      .panel.panel-default
        form.panel-body
          .form-group
            label(for='username') Username
            input.form-control#username(type='text' placeholder='Username' data-ng-model='username')
          .form-group
            label(for='password') Password
            input.form-control#password(type='password' placeholder='Password' data-ng-model='password')
          button.btn.btn-default(data-ng-click='login()')
            i.fa.fa-sign-in
            |  
            | Login