extends ../../../shared/client/views/templates/app-view-layout.jade

block view-content
  .form-group
    label User
    select.form-control(ng-options = 'user as user.name for user in users' ng-model="active_user" ng-change="active_user_changed()")

  .row(ng-if="active_user")
    .panel-group
      .panel.panel-primary
        .panel-heading
          .h3.panel-title 
            i.fa.fa-file-text-o
            |  
            | Interface Mode

        .panel-body
          select.form-control(ng-options = 'mode for mode in modes' ng-model="active_user.data.mode" ng-change="mode_changed()")

  //.row(ng-show="!current_user")
    .col-xs-1.col-md-3
    .col-xs-10.col-md-6
      .alert.alert-warning
        p
          strong Login required!
        p.desktop-only Please authenticate yourself with your username and password

  //-.row(ng-show="!current_user")
    .col-xs-1.col-md-3
    .col-xs-10.col-md-6
      .panel.panel-default
        form.panel-body
          .form-group
            label(for='username') Username
            input.form-control#username(type='text' placeholder='Username' ng-model='username')
          .form-group
            label(for='password') Password
            input.form-control#password(type='password' placeholder='Password' ng-model='password')
          button.btn.btn-default(ng-click='login()')
            i.fa.fa-sign-in
            |  
            | Login


block bottom-compact-navbar-buttons
  a.btn.btn-toolbar.btn-info(type="button" ng-show="current_user" ng-click='logout()')
    i.fa.fa-bars
    |  
    small.small Logout {{current_user.login}}
  a.btn.btn-toolbar.btn-info.disabled(type="button" ng-show="!current_user")
  a.btn.btn-toolbar.btn-info.disabled(type="button")
  a.btn.btn-toolbar.btn-info.disabled(type="button")