extends ../../../shared/client/views/templates/app-view-layout.jade

block view-content
  .row.row-stretch-50-desktop-only
    .col-md-6.col-stretch(ng-repeat='servo in servos' ng-class='{"desktop-only": servo != selected_servo}')
      .panel.panel-primary.panel-stretch
        .panel-heading
          .panel-title
            | {{servo.name}} &nbsp; - &nbsp; 
            small Position {{servo.position}}
        .scrollable-panel-body-container
          .panel-body
            .row.row-stretch
              .col-xs-4.col-stretch
                .btn-group-vertical(role='group')
                    button.btn.btn-danger.btn(ng-if='selected_servo.started' ng-click='selected_servo.started = false')
                      small
                        i.fa.fa-stop
                        |  
                        | Disable
                    button.btn.btn-default.btn(ng-if='!selected_servo.started' ng-click='selected_servo.started = true')
                      small
                        i.fa.fa-play
                        |  
                        | Enable

              .col-xs-1.col-stretch
              .col-xs-6.col-stretch
                slider(ng-attr-id='{{"position-slider-" + servo.i}}')

block bottom-compact-navbar-buttons
  a.btn.btn-toolbar.btn-info(type='button' ng-repeat='servo in servos' ng-click='select_servo(servo)')
    i.fa.fa-car
    |  
    small.small {{servo.name}}