extends ../../../shared/client/views/templates/app-view-layout.jade

block view-content
  .row.row-stretch-50-desktop-only
    .col-md-6.col-stretch(ng-repeat='servo in servos' ng-class='{"desktop-only": servo != selected_servo}')
      .panel.panel-primary.panel-stretch
        .panel-heading
          .panel-title
            | {{servo.name}} &nbsp; - &nbsp; 
            small Position {{servo.position}}
        .panel-body-container-stretch.panel-body
          .row.row-stretch
            .col-xs-4.col-stretch
              .btn-group-vertical(role='group')
                  button.btn.btn-danger.btn(ng-if='servo.started' ng-click='servo.started = false')
                    small
                      i.fa.fa-stop
                      |  
                      | Disable
                  button.btn.btn-default.btn(ng-if='!servo.started' ng-click='servo.started = true')
                    small
                      i.fa.fa-play
                      |  
                      | Enable

            .col-xs-8.col-stretch
              round-slider(min-value='0' max-value='1023' value='servo.position' on-click='on_slider_click(servo)')

block bottom-compact-navbar-buttons
  a.btn.btn-toolbar.btn-info(type='button' ng-repeat='servo in servos' ng-click='select_servo(servo)')
    i.fa.fa-car
    |  
    small.small {{servo.name}}