extends ../../../shared/client/views/templates/app-view-layout.jade

block view-content
  .alert.alert-danger(role="alert")
    h1
      i.fa.fa-exclamation-triangle
      |  
      | Under Construction!